html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}
.grid-main {
    height: calc(100vh);
}
.plugin-action{
    display: inline-block;
    color: steelblue;
    margin-right: 10px;
    cursor: pointer;
}
.plugin-action:hover{
    text-decoration:underline;
}
